{{> header}}


<div class="tara-body"> 

	<div class="random-wrapper">
		<div class="random-column random-column-one">
			<div class="column-one-sub column-one-top">
				<div class="random-column-title"><strong>Instagram</strong></div>
				<!-- INSTANSIVE WIDGET -->
				<script src="//lightwidget.com/widgets/lightwidget.js"></script><iframe src="//lightwidget.com/widgets/e46f12f5e0a25e109dfcc1094082c227.html" id="lightwidget_e46f12f5e0" name="lightwidget_e46f12f5e0"  scrolling="no" allowtransparency="true" class="lightwidget-widget" style="width: 100%; border: 0; overflow: hidden;"></iframe> 

			</div>

			<div class="column-one-sub column-one-bottom">
				<div class="random-column-title"><strong>Twitter</strong></div>
				<a class="twitter-timeline" data-dnt="true" href="https://twitter.com/theTaradactal" data-widget-id="689674816169840640">Tweets by @theTaradactal</a>
				<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
			</div>
		</div>
				
		<div class="random-column random-column-two">
			<div class="random-column-title"><strong>Other Things</strong></div>
				<div class="scrolling-area">
				{{#each random}}
					<div class="column-two-item">
						<div class="column-two-item-title">{{title}}</div>
						<div class="column-two-item-deets">{{{contentFull}}}
						{{#with youtubeLink}}
							<div class="column-two-item-deets">
								<iframe width="450" height="253"src="{{.}}" frameborder="0" allowfullscreen></iframe>
							</div>
						{{/with}}
						{{#each imageUrls}}
							<div class="column-two-item-deets column-two-pic-crop">
								<img src="{{.}}"/>
							</div>
						{{/each}}	
						</div>
					</div>
				{{/each}}
				</div>
		</div>
	</div>
<div>




{{> footer}}