{{> header}}


<div class="tara-body"> 

	<div class="media-wrapper">
		<ul class="media-nav">
			<li><a href="/media/" class="{{#if currentPage.media}}current{{/if}}">
			Video&nbsp;/&nbsp;Audio</a></li>

			<li><a href="/headshots/" class="{{#if currentPage.headshots}}current{{/if}}">
			Headshots</a></li>

			<li><a href="/Production/" class="{{#if currentPage.production}}current{{/if}}">
			Production</a></li>

		</ul>

		<div class="headshot-container">
			<div class="media-page-title page-subheading">by David Noles and Gabriel Brandt</div>

			<div class="headshot-strip">

				<img class="verticle-hsImage hsImageSpace" src="/photos/headshots/tara1.jpg"/>

				<img class="verticle-hsImage hsImageSpace" src="/photos/headshots/taramainheadshot.jpg"/>

				<img class="verticle-hsImage" src="/photos/headshots/tara107.png"/>
			
			</div>

			<div class="headshot-strip">
				<img class="horizontal-hsImage hsImageSpace" src="/photos/headshots/tara120.png"/>

				<img class="horizontal-hsImage" src="/photos/headshots/tara243.png"/>
			</div>	


			<div class="headshot-strip">
				<img class="verticle-hsImage hsImageSpace" src="/photos/headshots/tara150.png"/>

				<img class="verticle-hsImage hsImageSpace" src="/photos/headshots/tara3.png"/>

				<img class="verticle-hsImage" src="/photos/headshots/tara235.png"/>


			</div>

		
			
		</div>


		
	</div>

</div>



{{> footer}}