{{> header}}

<!--
{{#peeps}}

<h2 class="peep">my name is {{name}} and i am {{age}} years old</h2>

{{/peeps}}

-->

<div class="tara-body"> 

	<div class="about-wrapper">
		<h1>NEWS YO</h1>
	</div>

</div>




{{> footer}}