{{> header}}

<!--
{{#peeps}}

<h2 class="peep">my name is {{name}} and i am {{age}} years old</h2>

{{/peeps}}

-->

<div class="tara-body"> 

	<div class="news-page-wrapper">
		
		<ul class="news-page-list">
			{{#each news}}
				{{> newsPageItem}}  
			{{/each}}
		</ul>
	</div>

</div>




{{> footer}}