
body {
    div {
        /*This means that even if you add padding, 100% width still works*/
        box-sizing: border-box;
    }
}
a {
    color: inherit;
}

body{
    background-color: #F5F0E6;

}

.full-width {
    width: 100%;
    float: left;
}
.center {
    text-align: center;
}

.tara-splash {
    float: left;
    width: 100%;
}
/*
.tara-background-image {
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
}
*/

.tara-header {
    float: left;
    width: 100%;
    position: relative;
    padding: 2% 2% 1% 2%;
    box-sizing: border-box;
    height: 150px;
}
.tara-header-nav-wrapper {
    margin: 0 auto;
    width: 600px;
    position: absolute;
    top: 30px;
    left: 50%;
    margin-left: -300px;
}
.tara-header-title {
    color: #000;
    text-align: center;
    font-size: 5em;
    border-bottom: 2px solid rgba(192, 192, 192, 1);
    line-height: 95%;

}
.tara-header-quote {
    color: #000;
    float: right;
    margin-right: 5%;
    width: 10em;
    font-size: 1em;
    text-align:right;
    line-height: 125%;
}

.nav{
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;
}
.nav li{
    display:inline;
}
.nav a{
    display:inline-block;
    padding:10px;
    text-decoration: none;
    font-size: 1.3em;
}

.nav a:hover{
    color:red;
}

.tara-body {
    width: 1280px;
    margin: 0 auto;
}


.homepage-bar{
    margin-top: 40px;
    width: 1300px;
    clear:left;
    float: left;
}


.homepage-column{
    width:400px;
    float:left;
    margin-top: 5%;
    height:670px;
    margin-right: 40px;

}
.column-three{
    margin-right: 0px;
}

.teaser{
    width: 400px;
    position: relative;
    float: left;
}
.teaser-frost {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    opacity: .3;
}

.teaser-title{
    color:white;
    text-align: center;
    font-size: 2.6em;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin-top: -10px;
}



.news-teaser{
    background-color: brown;
    height:670px;
}

.news-teaser-title{
    margin-top: -280px;
}


.media-teaser{
    background-color: black;
    height:280px;
    background-image: url('/photos/bryantandstrattongrab.png');
    background-size:130%;
    background-repeat: no-repeat;
    background-position-y:-5px;
}

.reps-teaser{
    background-color: grey;
    height:350px;
    margin-top: 40px;
}

.about-teaser {
    background-color: green;
    height:500px;
    background-image: url('/photos/taraheadshot.jpg');
    background-repeat: no-repeat;
    background-size:100%;
    background-position-y: -30px;
}

.about-teaser-title{
    margin-top: 50px;
}


.contact-teaser{
    background-color: orange;
    height: 130px;
    margin-top: 40px;
}

.contact-teaser-title{
    margin-top: -20px;
}

.directing-teaser{
    background-color: blue;
    height:240px;
    background-image: url('/photos/directingteaser.jpg');
    background-size: 125%;
    background-position:-20px -15px;
    background-repeat: no-repeat;

}

.random-teaser{
    background-color: tan;
    height:240px;
    width:840px;
    margin-left: 40px;
}

.homepage-rep{
    height:100px ;
    width:385px;
    padding-left: 15px;
    position: relative;
}

.aboutface-section{
    float:left;
    margin-top: 20px;
}

.multiethnic-section {
    float: left;
    margin-top: 100px;
    position:absolute;
    bottom:15px;
    right:0;
}    

.rep-name{
    /*bolder font family when fonts are loaded*/
    font-size: 1.5em;
    color:white;
    text-align: left;
    line-height: 40px;
}

.agent-email{
    font-size:1em;
}
