
body {
    div {
        /*This means that even if you add padding, 100% width still works*/
        box-sizing: border-box;
    }
}
a {
    color: inherit;
}

body{
    background-color: #F5F0E6;

    
}

.full-width {
    width: 100%;
    float: left;
}
.center {
    text-align: center;
}

.tara-splash {
    float: left;
    width: 100%;
}
/*
.tara-background-image {
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
}
*/

.tara-header {
    float: left;
    width: 100%;
    position: relative;
    padding: 2% 2% 1% 2%;
    box-sizing: border-box;
    height: 150px;

}
.tara-header-nav-wrapper {
    margin: 0 auto;
    width: 600px;
    position: absolute;
    top: 30px;
    left: 50%;
    margin-left: -300px;
}
.tara-header-title {
    color: #000;
    text-align: center;
    font-size: 5em;
    border-bottom: 2px solid rgba(192, 192, 192, 1);
    line-height: 95%;
    font-family: 'Crimson Text', sans-serif;

}
.tara-header-quote {
    color: #000;
    float: right;
    margin-right: 5%;
    width: 10em;
    font-size: .8em;
    text-align:right;
    line-height: 125%;
}

.tara-header-quote a{
    text-decoration: none;
    color:#A52A2A;
}

.tara-header-quote a:hover{
    text-decoration: underline;
}

.nav{
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;

}
.nav li{
    display:inline;
}
.nav a{
    display:inline-block;
    padding:10px;
    text-decoration: none;
    font-size: 1.3em;
}
.nav a.current {
    color: #A52A2A;
}

.nav a:hover{
    color:#A52A2A;
}

.tara-body {
    width: 1080px;
    margin: 0 auto;
    font-family: 'PT Sans', sans-serif;
    font-size: 1em;
    line-height: 120%;
}


.homepage-bar{
    margin-top: 30px;
    width: 1080px;
    clear:left;
    float: left;
}


.homepage-column{
    width:340px;
    float:left;
    margin-top: 6%;
    height:670px;
    margin-right: 30px;

}
.column-three{
    margin-right: 0px;
}

.teaser{
    width: 340px;
    position: relative;
    float: left;
}
.teaser-frost {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: .5;
}

.teaser-frost:hover{
    opacity: 0;
}

.teaser-link {
    cursor: pointer;
}

.teaser-title{
    color:white;
    text-align: center;
    font-size: 2.6em;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin-top: -10px;
    pointer-events: none;
    text-decoration: none;
    font-family: 'Italiana', serif;
}

.news-teaser{
    background-color: #F3C2A8;
    height:660px;
    cursor: auto;
}

.news-teaser-title{
    margin-top: -280px;
    pointer-events: auto;
    cursor: pointer;
}

.news-teaser-list {
    float: left;
    width: 100%;
    box-sizing: border-box;
    padding: 125px 20px 20px 20px;
}
.news-teaser-item {
    float: left;
    width: 100%;
    margin-bottom: 40px;
}
.news-teaser-item-title {
    float: left;
    font-size: 1.1em;
    margin-bottom: 5px;
    font-weight: bold;
}
.news-teaser-detail {
    float: left;
}


.media-teaser{
    background-color: black;
    height:250px;
    background-image: url('/photos/bryantandstrattongrab.png');
    background-size:140%;
    background-repeat: no-repeat;
    background-position-y:-12px;
}

.reps-teaser{
    background-color: #46384A;
    height:380px;
    margin-top: 30px;
}

.about-teaser {
    background-color: green;
    height:500px;
    background-image: url('/photos/taraheadshot.jpg');
    background-repeat: no-repeat;
    background-size:110%;
    background-position-y: -30px;
}

.about-teaser-title{
    margin-top: 50px;
}


.contact-teaser{
    background-color: #224F91;
    height: 130px;
    margin-top: 30px;
}

.directing-teaser{
    background-color: blue;
    height:200px;
    background-image: url('/photos/directingteaser.jpg');
    background-size: 110%;
    background-position:-20px -30px;
    background-repeat: no-repeat;

}

.random-teaser{
    background-color: tan;
    height:200px;
    width:710px;
    margin-left: 30px;
    background-image: url('/photos/randomteaser.png');
    background-size: 110%;
    background-position:-1px -1px;
    background-repeat: no-repeat;
}

.homepage-rep{
    height:100px ;
    width:385px;
    padding-left: 15px;
    position: relative;
}

.aboutface-section{
    float:left;
    margin-top: 20px;
}

.multiethnic-section {
    float: left;
    margin-top: 100px;
    position:absolute;
    bottom:15px;
    
}    

.rep-name{
    /*bolder font family when fonts are loaded*/
    font-size: 1.5em;
    color:white;
    text-align: left;
    line-height: 40px;
}

.agent-email{
    font-size:1em;
}


.tara-footer{
    margin-top: 110px;
    float:left;
    margin-left:90px;
    width: 1080px;
    font-size: .7em;
    margin-bottom:50px;

}

.footer-bar{
    width:1080px;
    float:left;
    height: 2px;
    border-top: 1px solid grey;
    display: inline;
}

.footer-section{
    margin-top: 10px;
    float:left;
    width:360px;
    height: 40px;
    line-height: 19px;
    color: #85847F;
}

.footer-section-one{

}

.footer-section-two{
    text-align: center;
}

.footer-section-three{
    float: left;

}


.twitter-icon{
    display: inline-block;
    float: right;
    width: 30px;
    height:30px;
    background-image: url('/photos/twitter.png');
    background-repeat: no-repeat;
}

.instagram-icon{
    display: inline-block;
    float: right;
    margin-right:20px; 
    height: 30px;
    width: 30px;
    background-image: url('/photos/instagram.png');
    background-repeat: no-repeat;

 }

.footer-link{
    text-decoration: none;
    color:#A52A2A;

}

.footer-link:hover{
    text-decoration: underline;
}

.footer span{
    text-decoration: emphasis;
    font-style: cursive;
    font-size: .8em;
}


/*

.media-frost{
    background-color: rgba(143,122, 62, .95);
}

.about-frost{
    
    background-color: #023a50;
}

.directing-frost{
    background-color: rgba(143,122, 62, .95);
}

.random-frost{
    background-color: #023a50;
}

*/

