{{> header}}


<div class="tara-body"> 

	<div class="directing-wrapper">
		<div class="directing-photo"></div>

		<div class="directing-blurb">

			<p class="paragraph-text">As an actor/director I believe that the our role as artists is first and foremost to story tell. Towards this goal, I aim to create highly collaborative rehearsal environments which provide common ground for innovation, creativity, and discovery. </p>

			<p class="paragraph-text">My training as an actor and experience working with other actors has highly influenced my directing style. I believe in critical and probing script analysis as a foundation for any production. With this base, I work to develop the instincts of each actor and empower them to articulate their choices, intentions, and needs. I frequently uses viewpoints, and clowning techniques to create a common language in the rehearsal room. Only through specificity and clarity combined with the freedom to explore can a piece of theater tell a sincere and compelling story.</p>

			<p class="paragraph-text">Think I might be a good fit for a project you want to work on? <a href="/contact"><span>Message Me!</span></a>
			</p>

		</div>	
	</div>

</div>




{{> footer}}