{{> header}}


<div class="tara-body"> 

	<div class="directing-wrapper">
		<div class="directing-photo"></div>

		<div class="directing-blurb">

			<p class="paragraph-text">I first started directing in college as a means to create the actor-driven work that I wanted to be a part of.</p>

			<p class="paragraph-text">I believe that our primary goal as artists is to story tell. To that end I love creating collaborative rehearsal environments which provide common ground for innovation, creativity, and discovery.I use viewpoints, clowning, and Linklater techniques to empower actors to create a common language that translates instincts into action in the rehearsal room. </p>

			<p class="paragraph-text">If you think I might be a good fit for a project you want to work on? <a class="special-link" href="/contact">Message Me!</a>
			</p>

		</div>	
	</div>

</div>




{{> footer}}