{{> header}}

<!--
{{#peeps}}

<h2 class="peep">my name is {{name}} and i am {{age}} years old</h2>

{{/peeps}}

-->

<div class="tara-body"> 

	<div class="about-wrapper">
		<div class="about-photo"></div>

		<div class="tara-bio">

			<p class="paragraph-text">Born and raised in Queens New York, I first discovered performing at my local dance studio. I studied ballet, tap, and modern dance for twelve before I attended Frank Sinara School of the Arts for high school. While there I caught the acting bug and have been luck enough to not look back. 
			</p>

			<p class="paragraph-text">I got degrees in Theater Studies and Phsychology at Columbia University where the Queens girl in me realized that she loves the Upper West Side. During college I studied abroad at the British American Drama Accademy and collaborated with various NY based theater companies based in NY. 
			</p>

			<p class="paragraph-text">Maybe one more bit where I say something interesting and funny. But that's all I know to say for now.</p>

			<div class="about-text-box-wrapper">

				<p class="about-text-box"> <a class="special-link" href="/contact">Contact Me</a> </p>

				<p class="about-text-box about-text-right"> <a class="special-link" href="/resume">Download Headshot &amp; Resume </a> </p>

			</div>	
			
		</div>

</div>




{{> footer}}