{{> header}}

<!--
{{#peeps}}

<h2 class="peep">my name is {{name}} and i am {{age}} years old</h2>

{{/peeps}}

-->

<div class="tara-body"> 

	<div class="about-wrapper">
		<div class="about-photo"><div class="headshot-davidnoles">photo by David Noles</div></div>

		<div class="tara-bio">

			<p class="paragraph-text about-text">New York native Tara Pacheco started her performing career in dance shows as a little kid and was really excited to find out that it was something she could do for a living. She trained in ballet, tap, modern dance, and theater at Frank Sinatra School of the Arts before going on to earn degrees in Theater Arts and Psychology from Columbia University. 
			</p>

			<p class="paragraph-text about-text">She’s most notably performed in: The Mysteries at the Flea Theater where she played a series of increasingly distressed biblical women and Kapow-i Gogo at the People’s Inprov Theater where she wore antlers and puppeteered cardboard cutouts. 
			</p>

			<p class="paragraph-text about-text">Tara trains at the UCB, Kimball Studio, and with Blessed Unrest, a company that specializes in international collaboration and devised physical theater. In her free time Tara tinkers with web design (like this site!), is aggressively snuggly with her cat, and is fighting the uphill battle of “becoming a runner”.</p>

			<p class="paragraph-text about-text">Also, one time Billy Porter held her face and told her she was funny! So she's taking that one to the grave.</p>

			<div class="about-text-box-wrapper">

				<p class="about-text-box"> <a class="special-link" href="/contact">Contact Me</a> </p>

				<p class="about-text-box about-text-right"> <a class="special-link" href="/photos/headshotandResumeCombo.pdf" target="_blank">Download Headshot &amp; Resume </a> </p>

			</div>	
			
		</div>

</div>




{{> footer}}