		<footer> 
			<div class="tara-footer"> 
				<div class="footer-bar"></div>
				<div class="footer-section footer-section-one">
					<div class="copyright">&copy; Tara Pacheco. All Rights Reserved.</div>
					<div><a class="special-link"href="/">www.tnpacheco.com  </a> &vert; <a class="special-link"href="/contact">  Contact Me</a></div>
				</div>	
				<div class= "footer-section footer-section-two">
					<div class="footer-note">hand coded by <span>me!</span></div>
				</div>	
				<div class= "footer-section footer-section-three">
					<a target="_blank" class="twitter-icon" href="https://twitter.com/theTaradactal"></a>	
					<a target="_blank" class="instagram-icon" href="https://www.instagram.com/thetaradactal/">
					</a>	
				</div>	
				
			</div>
		</footer>

	</body>
	<script src="/scripts/lightbox/js/lightbox.js"></script>
</html>
