<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Tara Pacheco</title>
        <meta name="description" content="Tara Pacheco's Personal Site">
        <meta name="viewport" content="width=1024">

        <!-- jquery -->
        <script src="/scripts/jquery-2.2.0.min.js"></script>


        <!-- LIGHTBOX -->
        <link href="/scripts/lightbox/css/lightbox.css" rel="stylesheet"  type='text/css'>

        <!-- GOOGLE FONTS-->
        <link href='https://fonts.googleapis.com/css?family=Marcellus+SC' rel='stylesheet' type='text/css'>

        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600' rel='stylesheet' type='text/css'>

        <link href='https://fonts.googleapis.com/css?family=Work+Sans:400,700,600' rel='stylesheet' type='text/css'>

       
        <!-- PUNCH STYLESHEET -->
        <link rel="stylesheet" href="/styles/all.css">
    </head>

    <body class="tara-splash">
        <header class="tara-header">
            <div class="tara-header-nav-wrapper">
                <h1 class="tara-header-title"><a href="/">Tara Pacheco</a></h1>
                <ul class="nav">
                  <li><a href="/about" class="{{#if currentPage.about}}current{{/if}}">About</a></li>
                  <li><a href="/news/" class="{{#if currentPage.news}}current{{/if}}">News</a></li>
                  <li><a href="/media/" class="{{#if currentPage.media}}current{{/if}}">Media</a></li>
                  <li><a href="/contact/" class="{{#if currentPage.contact}}current{{/if}}">Contact</a></li>
                  <li><a href="/random/" class="{{#if currentPage.random}}current{{/if}}">Random</a></li>
                 
                </ul>
            </div>
            <blockquote class="tara-header-quote"><a class="tara-resume" href="/resume">Acting Resume</a> </blockquote> 
        </header>