{{> header}}
        <section class="tara-body"> 

           <div class="homepage-column column-one"> 
                <!--News-->
                <div class="teaser news-teaser">
                    <h2 class="teaser-title news-teaser-title">News</h2>
                    
                </div>
            </div>    

            <div class="homepage-column column-two">
                <!--About Section-->
                <div class="teaser about-teaser">
                    <div class="teaser-frost"></div>
                    <h2 class="teaser-title about-teaser-title">About</h2>
                </div>

                <!--Contact Me-->
                <div class="teaser contact-teaser">
                    <h2 class="contact-teaser-title teaser-title">Contact Me</h2>
                </div>
            </div>

            <div class="homepage-column column-three">
                <!--Media Section-->
                <div class="teaser media-teaser">
                    <div class="teaser-frost"></div>
                    <h2 class="teaser-title">Media</h2>
                    
                </div>

                <!--Reps Section-->
                <div class="teaser reps-teaser">
                    <h2 class="teaser-title">Reps</h2>
                    <div class="homepage-rep aboutface-section">
                        <div class="rep-name">About Face - Carson Kolker</div>
                        <div class="agent-detail">Alice Skiba 
                    </div>
                        <div class="agent-detail">(212) 221-1518 </div>
                        <div class="agent-detail">aboutfacedivision@gmail.com</div>
                    </div>

                    <div class="homepage-rep multiethnic-section">
                        <div class="rep-name">Multi-Ethnic Talent Mgmt.</div>
                        <div class="agent-detail">Annette Alvarez 
                    </div>
                        <div class="agent-detail">(917) 689-8459 </div>
                        <div class="agent-detail">multiethnictalent@gmail.com</div>
                    </div>

                </div>

                
            </div>
            <div class="homepage-bar">
                <!--Directing-->
                <div class="teaser directing-teaser">
                <div class="teaser-frost"> </div>
                    <h2 class="teaser-title">Directing</h2>
                </div>
            
                <!--Random-->
                <div class="teaser random-teaser">
                    <h2 class="teaser-title">Random & Social</h2>
    
                </div>

            </div>

        </section>
{{> footer}}