<li class="news-teaser-item">
	<div class="news-teaser-item-title">{{title}}</div>
	<div class="news-teaser-detail">{{{dateRange}}}</div>
	<div class="news-teaser-detail">{{{content}}}</div>
	<div class="news-teaser-detail">{{{imageUrl}}}</div>
</li>
