<li class="news-teaser-item">
	<div class="news-teaser-item-title">{{title}}</div> 
	<div class="news-teaser-detail news-teaser-date ">{{{dateRange}}}</div>
	<div class="news-teaser-detail">{{{contentTeaser}}}</div>
</li>
