.about-wrapper{
	width: 800px;
	margin: 0 auto;
}

.about-photo{
	margin-top: 7%;
	float:left; 
	width:350px;
	height:520px;
	background-image: url('/photos/taraheadshot.jpg');
    background-size:100%;
    background-repeat: no-repeat;
    display: inline-block;
    
}

.tara-bio{
	margin-top: 7%;
	float: left;
	margin-left: 50px;
	width: 400px;
	display: inline-block;
}

.about-text-box{
    float: left;
    height: 60px;
    width: 120px;
    display: inline-block;
    size: 1em;
    margin-top: 10px;
    
}

.about-text-right{
	width: 270px;
}
.about-text-box-wrapper{
	margin: 0 auto;
	width: 400px;
}


/* Directing Page*/

.paragraph-text{
	margin-bottom: 20px;
	line-height: 25px;
}

.directing-wrapper{
	width: 800px;
	margin: 0 auto;

}

.directing-photo{
	margin-top: 7%;
	float: left;
	height: 230px;
	width:700px;
	background-image: url('/photos/directingcoverphoto.png');
	margin-left: 50px;
	background-size:110%;
    background-repeat: no-repeat;
    background-position:-35px 5px;

}



.directing-blurb{
	float:left;
	margin-top: 40px;
	width:800px;
}



/* random page */

.random-wrapper{
	width: 900px;
	margin: 0 auto;
}
.random-column{
	margin-top: 7%;
	float: left;
	display: inline-block;
}

.random-column-title{
	color:black;
    float:left;
    margin-bottom: 20px;
    font-size: 1.5em;
}

.random-column-one{	
	float: left;
	height: 1020px;
	width:315px;
	border-right: 1px solid gray;
    padding-right: 50px;
}

.column-one-sub{
	float:left;
	width: inherit;
}

.column-one-top{
	height: 400px;
}

.column-one-bottom{
	margin-top: 20px;
	height:600px;
}


.random-column-two{	
	float: left;
	margin-left: 48px;
	height: 700px;
	width:480px;

}

.column-two-item{
	float:left;
	width: 400px;
	box-sizing: border-box;
	padding-top: 10px;
}

.column-two-pic-crop{
	float: left;
	margin: 20px 10px 10px 20px; 
    width: 300px;
    height: 250px;
    overflow: hidden;
}
.column-two-pic-crop img {
    height: 250px;
   
}

.column-two-item-title{
	font-weight: bold;
	margin-bottom: 10px;
}

.column-two-item-deets{
	font-size: .9em;
}
/* Media Page*/

.media-wrapper{
	width: 950px;
	margin: 0 auto;
	

}

.video-scroller{
	margin-top: 50px;
	float:left;
	width: 100%;

}	

.video-list{
	float: left;
	width: 100%;
}	

.video-list-item{
	float:left;
	margin: 20px 10px 10px 20px; 
}

.headshot-scroller{
	margin-top: 50px;
	float:left;
	width: 100%;
}

.headshot-list{
	float: left;
	width: 100%;
}


.production-scroller{
	margin-top: 50px;
	float:left;
	width: 100%;

}

.production-photo-list{
	float: left;
	width: 100%;
}

.crop {
	float: left;
	margin: 20px 10px 10px 20px; 
    width: 200px;
    height: 150px;
    overflow: hidden;
}
.crop img {
    height: 150px;
     /*same as above*/
    /*margin: -75px 0 0 -100px;*/
}

.crop .verticle{
	height:auto;
	width:202.2px;
}

.vertical-headshot-list-item{
	float: left;
	height: 250px;
	margin: 20px 25px 10px 20px; 
}



.page-subheading{
	color: black;
	font-size: 1.5em;
}



/*Contact Me*/

.contact-me-wrapper{
	width: 935px;
	margin: 0 auto;
}

.contact-me-box{
	float:left;
	width:550px;
	display: inline-block;

}

.contact-me-photo{
	float: left;
	height:300px;
	width:190px;
	background-image: url('/photos/taracontact.png');
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: 2px -100px;
}

.contact-my-reps-box{
	float: left;
	display: inline-block;
	margin-left: 40px;

}

.contact-rep{
	width:300px;
	height:160px;
	float: left;
	box-sizing: border-box;
	border:1px solid;
}

.contact-multi-ethnic{
	clear: left;
}

.contact-about-face{
	margin-bottom: 30px;
}

.rep-type-title{
	float: left;
	display: block;
	box-sizing: border-box;
	padding: 10px;
	font-size: 1.2em;
	line-height: 22px;
	border-right: 1px solid;
	text-align: center;
	background-color:rgba(123, 66, 66, 0.29);
	height:159px;
}

.manager-title{
	font-size: 1.1em;
	line-height: 21px;
}

.contact-rep-details{
	float: left;
	box-sizing: border-box;
	padding: 20px 10px 10px 20px;
}

.agency-name{
	float: left;
	font-weight: bold;
	font-size: 1.3em;
}

.agent-name{
	margin-top: 40px;
	margin-bottom: 10px;
}

.agency-details{
	line-height: 25px;
}
.contact-rep-details a{
	text-decoration: none;
}

.contact-rep-details a:hover{
	color:#A52A2A;
}

.contact-section-title{
	margin-bottom: 30px;
	display: inline-block;
}

.contact-section-title-me{
	float:left;
	width:500px;
}

.contact-section-title-reps{
	float:left;
	width:300px;
	margin-left: 85px;
}

.contact-me-title-wrapper{
	float: left;
	width: 100%;
	margin-top: 40px;

}

/* Resume */

.resume-wrapper{
	width: 695px;
	margin: 0 auto;
}

.download-link{
	float: left;
	margin-top: 20px;
}

.resume-jpg{
	margin-top: 15px;
	float: left;
	height:900px;

}

/* NEWS PAGE */


.news-page-wrapper{
	width: 950px;
	margin:0 auto;
}

.news-page-item{
	float:left;
	width: 100%;
	box-sizing: border-box;
	padding: 5px 10px 10px 10px;
	margin-top: 45px;
	background-color:rgba(195, 172, 147, 0.2);

}

.news-page-date{
	color:#85847f;
	font-weight: bold;
	display: inline-block;
	line-height: 40px;
	margin-left: 20px;
}

.news-page-item-heading{
	float: left;
	width: 100%;
	margin-bottom: 15px;

}


.news-page-item-body{
	float: left;
	width: 100%;
	margin-top:40px;
}

.news-page-pic-crop{
	clear: left;
	float:left;
	width: 300px;
	margin-top: 5px;
	margin-right: 80px;
	overflow: hidden;
}

.news-page-pic-crop img{
	width: 300px; 

}

.news-page-vid{
	clear: left;
	float: left;
	margin-right: 80px;
}

.news-page-vid-link{
	height: 200px;
}

.news-page-detail{
	float:left;
	display: inline-block;
	width: 500px;
   
}













