.thanks {
	float: left;
	width: 380px;
	margin-left: 10px;
	display: none; /* if you want to style this, remove this line, style it, then put it back*/
}

form {
	float: left;
	margin-left: 10px;
	width: 300px;
	
}

input, textarea {
	padding: 5px;
	width: 320px;
	margin-left: 5px;
	font-family: Helvetica, sans-serif;
	margin: 0px 0px 10px 0px;
	border: 1px solid #85847f;
	background-color: #f5f0e6;
}

label {
	float: left;
	text-align: right;
	margin-right: 15px;
	width: 100px;
	padding-top: 5px;
	font-size: 1.4em;
}

.submit-button {
	width: 110px
}


.text-area-message{
	height:140px;
}