
body {
    div {
        /*This means that even if you add padding, 100% width still works*/
        box-sizing: border-box;
    }
}
a {
    color: inherit;
    color:#A52A2A;
    text-decoration: none
}

a:hover {
    text-decoration: underline;
}


body{
    background-color: #F5F0E6;
}


.full-width {
    width: 100%;
    float: left;
}
.center {
    text-align: center;
}

.tara-splash {
    float: left;
    width: 100%;
}
/*
.tara-background-image {
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
}
*/

.tara-header {
    float: left;
    width: 100%;
    position: relative;
    padding: 2% 2% 1% 2%;
    box-sizing: border-box;
    height: 150px;

}
.tara-header-nav-wrapper {
    margin: 0 auto;
    width: 600px;
    position: absolute;
    top: 30px;
    left: 50%;
    margin-left: -300px;
}
.tara-header-title {
    color: #000;
    text-align: center;
    font-size: 4.5em;
    border-bottom: 2px solid rgba(192, 192, 192, 1);
    line-height: 95%;
    font-family: 'Marcellus SC', serif;
    

}

.tara-header-title a{
    color: #000;
    text-decoration: none;
}


.tara-header-quote {
    color: #000;
    float: right;
    margin-right: 30px;
    width: 10em;
    font-size: 1.2em;
    text-align:right;
    line-height: 125%;
}


.nav{
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;

}

.nav li{
    display:inline;
}

.nav a{
    color: #5d5954;
    display:inline-block;
    padding:10px;
    text-decoration: none;
    font-size: 1.1em;
}
.nav a.current {
    color: #A52A2A;
}

.nav a:hover{
    color:#A52A2A;
}

.tara-body {
    color: #191B1C;
    width: 1080px;
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    line-height: 120%;
}

.homepage-bar{
    margin-top: 3x0px;
    width: 1080px;
    clear:left;
    float: left;
}


.homepage-column{
    width:340px;
    float:left;
    margin-top: 3%;
    height:670px;
    margin-right: 30px;

}
.column-three{
    margin-right: 0px;
}

.teaser{
    width: 340px;
    position: relative;
    float: left;
}
.teaser-frost {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: .5;
}



.teaser-frost:hover{
    opacity: 0;
}

.teaser-link {
    cursor: pointer;
}

.homepage-subheading{
    font-size: 1.1em;
}

.bold-it{

}
.teaser-title{
    color:white;
    text-shadow: 2px 2px 10px #333536;
    text-align: center;
    font-size: 2.4em;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin-top: -10px;
    pointer-events: none;
    text-decoration: none;
    letter-spacing: 1.3px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    
}

.news-teaser{
    background-color: rgba(195, 172, 147, 0.2);
    height:660px;
    cursor: auto;

}

.news-teaser-title{
    margin-top: -300px;
    pointer-events: auto;
    cursor: pointer;
}

.news-teaser-list {
    float: left;
    width: 100%;
    box-sizing: border-box;
    padding: 90px 20px 20px 10px;
}

.news-teaserItem-shape{
    float: left;
    height: 110px; 
}

.news-teaser-divider{
    float:left;
    border-top: 1px solid #876A4C;
    width: 300px;
    height: 2px;
    margin-bottom: 25px;
    margin-top: 25px;

}

.reps-teaser-divider{
    float:left;
    border-top: 1px solid #876A4C;
    width: 330px;
    height: 2px;
    margin-left: 3px;
    margin-bottom: 10px;
    margin-top: 10px;

}

.page-subheading3{
    float:left;
    font-size: 1.2em;
    color:#000;
    text-align: left;
    line-height: 40px;

}

.news-teaser-item {
    float: left;
    width: 100%;
    line-height: 115%

}

.news-teaser-item-title {
    float: left;
    font-size: 1.05em;
    margin-bottom: 10px;
    line-height: 120%;
    width:240px;
}


.news-teaser-detail {
    float: left;
    font-size: .8em;
}

.news-teaser-date{
    font-weight: bold;
    float:right;
    width: 60px;
    color:#6d6b64;
}

.news-teaser-link-to-more {
    float: right;
    margin-top: 60px;
    font-size: .9em;
    padding-right: 20px;
}


.media-teaser{
    height:250px;
    background-image: url('/photos/bryantandstrattongrabSMALL.png');
    background-size:140%;
    background-repeat: no-repeat;
    background-position-y:-12px;
}

.reps-teaser{
    background-color: rgba(195, 172, 147, 0.2);
    height:380px;
    margin-top: 30px;

}

.about-teaser {
    height:500px;
    background-image: url('/photos/taraheadshot.jpg');
    background-repeat: no-repeat;
    background-size:110%;
    background-position-y: -30px;

}

.about-teaser-title{
    margin-top: 50px;
}


.contact-teaser{
    background-color: #7B4242;
    height: 130px;
    margin-top: 30px;
}

.directing-teaser{
    height:200px;
    background-image: url('/photos/directingteaser.jpg');
    background-size: 110%;
    background-position:-20px -30px;
    background-repeat: no-repeat;

}

.random-teaser{
    height:200px;
    width:710px;
    margin-left: 30px;
    background-image: url('/photos/randomteaser.png');
    background-size: 110%;
    background-position:-1px -1px;
    background-repeat: no-repeat;
}

.reps-teaser-title{
    margin-top: -150px;
}

.homepage-rep{
    height:100px;
    width:385px;
    padding-left: 15px;
}


.first-rep{
    float:left;
    margin-top: 110px;
}

.second-rep{
    float: left;
    margin-top: 20px;
    bottom:15px;
    
}    


.agent-detail{
    float: left;
    width:300px;
    font-size: .8em;

}


.tara-footer{
    margin:0 auto;
    width: 1080px;
    font-size: .7em;
    margin-bottom:60px;

}

.black-teaser-title{
    color: #000;
    text-shadow: none;
}

.footer-bar{
    width:1080px;
    float:left;
    margin-top: 80px;
    height: 2px;
    border-top: 1px solid grey;
    display: inline;
}

.footer-section{
    margin-top: 10px;
    float:left;
    width:360px;
    height: 40px;
    line-height: 19px;
    color: #85847F;
    margin-bottom: 70px;

}

.footer-section-one{

}

.footer-section-two{
    text-align: center;
}

.footer-section-three{
    float: left;


}


.twitter-icon{
    display: inline-block;
    float: right;
    width: 30px;
    height:30px;
    background-image: url('/photos/twitter.png');
    background-repeat: no-repeat;
}

.instagram-icon{
    display: inline-block;
    float: right;
    margin-right:20px; 
    height: 30px;
    width: 30px;
    background-image: url('/photos/instagram.png');
    background-repeat: no-repeat;

 }


.footer-note span{
    font-style: italic;
    font-size: 1em;
}


.media-frost{
    background-color: rgba(178, 125, 49, 0.46);
}

.about-frost{
    
    background-color: rgba(100, 75, 39, 0.46);
}

.directing-frost{
    background-color: rgba(178, 125, 49, 0.46);
}


.random-frost{
    background-color:rgba(178, 125, 49, 0.65)
}



