{{> header}}

<!--
{{#peeps}}

<h2 class="peep">my name is {{name}} and i am {{age}} years old</h2>

{{/peeps}}

-->

<div class="tara-body"> 

	<div class="resume-wrapper">
		<div class="download-link"><a class="special-link headshot-resume-download" href="/photos/headshotandResumeCombo.pdf" target="_blank">Download Headshot &amp; Resume </a> </div>
		
		<img class="resume-jpg" src="/photos/tarawebsiteresume.jpg"/>		
			
	</div>


</div>




{{> footer}}