{{> header}}


<div class="tara-body"> 

	<div class="media-wrapper">
		<ul class="media-nav">
			<li><a href="/media/" class="{{#if currentPage.media}}current{{/if}}">
			Video&nbsp;/&nbsp;Audio</a></li>

			<li><a href="/headshots/" class="{{#if currentPage.headshots}}current{{/if}}">
			Headshots</a></li>

			<li><a href="/Production/" class="{{#if currentPage.production}}current{{/if}}">
			Production</a></li>

		</ul>


		<div class="primary-video-container">
			<div class="page-subheading media-title media-title-primary-video">Biotrue: Ladies Night</div>

			<div class="media-description">commercial by Sweet Saide airing online</div>	

		
			<iframe class="primary-video" src="https://player.vimeo.com/video/162088048" width="800" height="450" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

		</div>	


	
		<div class="media-column media-column-left">

			<div class="media-title">For Every 'And' in Life :15s cut</div>
			<div class="media-description">tv commercial for Bryant and Stratton College </div>
			<iframe class="media-content" width="425" height="240" src="https://www.youtube.com/embed/uxOzK2CGYQo" frameborder="0" allowfullscreen></iframe>

			<div class="media-title">For Every 'And' in Life :30s cut</div>
			<div class="media-description">tv commercial for Bryant and Stratton College </div>
			<iframe class="media-content" width="425" height="240" src="https://www.youtube.com/embed/xFgm3wpWg7E" frameborder="0" allowfullscreen></iframe>
		</div>



		<div class="media-column">
			<div class="media-title">Opus 8: so..so..awkward</div>
			<div class="media-description">a short about using the bathroom</div>
			<iframe class="media-content" width="425" height="240" src="https://www.youtube.com/embed/x4jdlfRGUOo" frameborder="0" allowfullscreen></iframe>

			<div class="media-title">Romanian VO Sample</div>
			<div class="media-description">sample Romanian VO narration</div>

			<iframe class="media-content" width="100%" height="120" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/260101930&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>

			<div class="media-title">Matt Turk: Cracked Egg</div>
			<div class="media-description">music video filmed in upstate NY</div>
			<iframe class="media-content" src="https://player.vimeo.com/video/114794389" width="425" height="240" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
		</div>

	


		
		
	</div>

</div>



{{> footer}}