{{> header}}


<div class="tara-body"> 

	<div class="media-wrapper">

		<div class="video-scroller">
			<div class="page-subheading">
				Videos
			</div>
			<div class="video-list">

				<iframe class="video-list-item" width="266" height="150" src="https://www.youtube.com/embed/uxOzK2CGYQo" frameborder="0" allowfullscreen></iframe>
			
				<iframe class="video-list-item" width="266" height="150" src="https://www.youtube.com/embed/xFgm3wpWg7E" frameborder="0" allowfullscreen></iframe>
				

				<iframe class="video-list-item" src="https://player.vimeo.com/video/114794389" width="266" height="150" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>



			</div>
		</div>

		<div class="headshot-scroller">
			<div class="page-subheading">
				Headshots
			</div>
			<div class="headshot-list">
				<div class="image-holder">
					<a data-lightbox="headshots" href="/photos/taraheadshot.jpg" >
					
						<img class="vertical-headshot-list-item"src="/photos/taraheadshotSMALL.jpg" alt="photo by David Noles" /> 
						
					</a> 
					<div class="photo-by-text">photo by David Noles</div>	
				</div>	

				<div class="image-holder">
					<a data-lightbox="headshots" href="/photos/tara_hs3.png" >
					
						<img class="vertical-headshot-list-item"src="/photos/tara_hs3small.png" alt="photo by David Noles" /> 
						
					</a> 
					<div class="photo-by-text">photo by David Noles</div>	
				</div>	

				<div class="image-holder">
					<a data-lightbox="headshots" href="/photos/tara_hs5.png" >
					
						<img class="vertical-headshot-list-item"src="/photos/tara_hs5small.png" alt="photo by David Noles" /> 
						
					</a> 
					<div class="photo-by-text">photo by David Noles</div>	
				</div>	

				<div class="image-holder">
					<a data-lightbox="headshots" href="/photos/taradavidnoles.png" >
					
						<img class="vertical-headshot-list-item"src="/photos/taradavidnolessmall.png" alt="photo by David Noles" /> 
						
					</a> 
					<div class="photo-by-text">photo by David Noles</div>	
				</div>	
					
				<div class="image-holder">
					<a data-lightbox="headshots" href="/photos/Tara2.png" >
					
						<img class="vertical-headshot-list-item" src="/photos/tara2small.png" alt="photo by Gabriel Brandt" /> 
					</a> 
					<div class="photo-by-text">photo by Gabriel Brandt</div>	
				</div>	
				
				<div class="image-holder">
					<a data-lightbox="headshots" href="/photos/Tara1.jpg" >
					
						<img class="vertical-headshot-list-item" src="/photos/tara1small.jpg" alt="photo by Gabriel Brandt" /> 
					</a> 
					<div class="photo-by-text">photo by Gabriel Brandt</div>	
				</div>	
				


			</div>


		</div>

		<div class="production-scroller">
			<div class="page-subheading">
				Production Photos
			</div>
			<div class="production-photo-list">
				<a data-lightbox="production"  data-title="Kapow-i GoGo at the PIT" href="/photos/production/kapowi1.jpg" >
					<div class="crop">
						<img src="/photos/production/kapowi1SMALL.jpg" />
					</div>
				</a>

				<a data-lightbox="production"  data-title="Kapow-i GoGo at the PIT" href="/photos/production/kapowi2.jpg" >
					<div class="crop">
						<img src="/photos/production/kapowi2SMALL.jpg" />
					</div>
				</a>

				<a data-lightbox="production"  data-title="Kapow-i GoGo at the PIT" href="/photos/production/kapowi3.jpg" >
					<div class="crop">
						<img src="/photos/production/kapowi3SMALL.jpg" />
					</div>
				</a>

				<a data-lightbox="production"  data-title="Kapow-i GoGo at the PIT" href="/photos/production/kapowi4.jpg" >
					<div class="crop">
						<img src="/photos/production/kapowi4SMALL.jpg"/>
					</div>
				</a>

				<a data-lightbox="production"  data-title="Kapow-i GoGo at the PIT" href="/photos/production/kapowi5.jpg" >
					<div class="crop">
						<img src="/photos/production/kapowi5SMALL.jpg" />
					</div>
				</a>


				<a data-lightbox="production"  data-title="The Mysteries at The Flea" href="/photos/production/mysteries1.jpg" >
					<div class="crop">
						<img src="/photos/production/mysteries1SMALL.jpg" alt="photo by Hunter Canning" />
					</div>
				</a>

				<a data-lightbox="production"  data-title="The Mysteries at The Flea" href="/photos/production/mysteries2.jpg" >
					<div class="crop">
						<img src="/photos/production/mysteries2SMALL.jpg" alt="photo by Hunter Canning" />
					</div>
				</a>

				<a data-lightbox="production"  data-title="The Mysteries at The Flea" href="/photos/production/mysteries3.jpg" >
					<div class="crop">
						<img src="/photos/production/mysteries3SMALL.jpg" alt="photo by Hunter Canning" />
					</div>
				</a>

				<a data-lightbox="production"  data-title="The Mysteries at The Flea" href="/photos/production/mysteries4.png" >
					<div class="crop">
						<img src="/photos/production/mysteries4SMALL.png" alt="photo by Hunter Canning" />	
					</div>
				</a>

				<a data-lightbox="production"  data-title="The Mysteries at The Flea" href="/photos/production/mysteries5.png" >
					<div class="crop">
						<img src="/photos/production/mysteries5SMALL.png" alt="photo by Hunter Canning" />	
					</div>
				</a>

				<a data-lightbox="production"  data-title="The Mysteries at The Flea" href="/photos/production/mysteries6.png" >
					<div class="crop">
						<img src="/photos/production/mysteries6SMALL.png" alt="photo by Hunter Canning" />	
					</div>
				</a>

				<a data-lightbox="production"  data-title="The Mysteries at The Flea" href="/photos/production/mysteries7.jpg" >
					<div class="crop">
						<img src="/photos/production/mysteries7SMALL.jpg" alt="photo by Hunter Canning" />	
					</div>
				</a>

				<a data-lightbox="production"  data-title="The Mysteries at The Flea" href="/photos/production/mysteries8.jpg" >
					<div class="crop">
						<img src="/photos/production/mysteries8SMALL.jpg" alt="photo by Hunter Canning" />			

					</div>
				</a>

				<a data-lightbox="production"  data-title="The Winter's Tale at Columbia University" href="/photos/production/winterstale1.jpg" >
					<div class="crop">
						<img src="/photos/production/winterstale1SMALL.jpg" alt="photo by Stephen Yang" />	
					</div>
				</a>

				<a data-lightbox="production"  data-title="The Winter's Tale at Columbia University" href="/photos/production/winterstale2.jpg" >
					<div class="crop">
						<img src="/photos/production/winterstale2SMALL.jpg" alt="photo by Stephen Yang" />	
					</div>
				</a>

				<a data-lightbox="production"  data-title="The Winter's Tale at Columbia University" href="/photos/production/winterstale3.jpg" >
					<div class="crop">
						<img src="/photos/production/winterstale3SMALL.jpg" alt="photo by Stephen Yang" />	
					</div>
				</a>

				<a data-lightbox="production"  data-title="The Winter's Tale at Columbia University" href="/photos/production/winterstale4.jpg" >
					<div class="crop">
						<img src="/photos/production/winterstale4SMALL.jpg" alt="photo by Stephen Yang" />	
					</div>
				</a>

				<a data-lightbox="production"  data-title="The Winter's Tale at Columbia University" href="/photos/production/winterstale5.jpg" >
					<div class="crop">
						<img class="verticle" src="/photos/production/winterstale5SMALL.jpg" alt="photo by Stephen Yang" />	
					</div>
				</a>

				<a data-lightbox="production"  data-title="Yerma at the British American Drama Academy" href="/photos/production/yerma1.jpg" >
					<div class="crop">
						<img class="verticle" src="/photos/production/yerma1SMALL.jpg" alt="photo by Simon Annand" />	
					</div>
				</a>

				<a data-lightbox="production"  data-title="Yerma at the British American Drama Academy" href="/photos/production/yerma2.jpg" >
					<div class="crop">
						<img src="/photos/production/yerma2SMALL.jpg" alt="photo by Simon Annand" />	
					</div>
				</a>

				<a data-lightbox="production"  data-title="Yerma at the British American Drama Academy" href="/photos/production/yerma3.jpg" >
					<div class="crop">
						<img src="/photos/production/yerma3SMALL.jpg" alt="photo by Simon Annand" />	
					</div>
				</a>

				<a data-lightbox="production"  data-title="Yerma at the British American Drama Academy" href="/photos/production/yerma4.jpg" >
					<div class="crop">
						<img class="verticle"src="/photos/production/yerma4SMALL.jpg" alt="photo by Simon Annand" />	
					</div>
				</a>

				<a data-lightbox="production"  data-title="Haunting of Our Lives" href="/photos/production/haunting1.jpg" >
					<div class="crop">
						<img src="/photos/production/haunting1SMALL.jpg" />	
					</div>
				</a>

				<a data-lightbox="production"  data-title="Haunting of Our Lives" href="/photos/production/haunting2.jpg" >
					<div class="crop">
						<img src="/photos/production/haunting2SMALL.jpg" />	
					</div>
				</a>

				<a data-lightbox="production"  data-title="Haunting of Our Lives" href="/photos/production/haunting3.jpg" >
					<div class="crop">
						<img src="/photos/production/haunting3SMALL.jpg" />	
					</div>
				</a>

				<a data-lightbox="production"  data-title="Hamlet" href="/photos/production/hamlet1.jpg" >
					<div class="crop">
						<img src="/photos/production/hamlet1SMALL.jpg" />	
					</div>
				</a>

				<a data-lightbox="production"  data-title="Cahoot's Macbeth" href="/photos/production/cahoots1.jpg" >
				<div class="crop">
					<img src="/photos/production/cahoots1SMALL.jpg" />	
				</div>
				</a>

				<a data-lightbox="production"  data-title="Tartuffe" href="/photos/production/tartuffe1.jpg" >
				<div class="crop">
					<img src="/photos/production/tartuffe1SMALL.jpg" />	
				</div>
				</a>


			</div>
		</div>


	</div>

</div>



{{> footer}}