{{> header}}


<div class="tara-body"> 

	<div class="media-wrapper">

		<div class="video-scroller">
			<div class="page-subheading">
				Videos
			</div>
			<div class="video-list">

				<iframe class="video-list-item" width="266" height="150" src="https://www.youtube.com/embed/uxOzK2CGYQo" frameborder="0" allowfullscreen></iframe>
			
				<iframe class="video-list-item" width="266" height="150" src="https://www.youtube.com/embed/xFgm3wpWg7E" frameborder="0" allowfullscreen></iframe>
				

				<iframe class="video-list-item" src="https://player.vimeo.com/video/114794389" width="266" height="150" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>



			</div>
		</div>

		<div class="headshot-scroller">
			<div class="page-subheading">
				Headshots
			</div>
			<div class="headshot-list">

				<img class="vertical-photo-list-item" src="/photos/taraheadshot.jpg" alt="">

				<img class="vertical-photo-list-item" src="/photos/taraheadshot.jpg" alt="">

				<img class="vertical-photo-list-item" src="/photos/taraheadshot.jpg" alt="">

				<img class="horizontal-photo-list-item" src="/photos/background.jpg" alt="">
				
			</div>


		</div>

		<div class="production-scroller">
			<div class="page-subheading">
				Production Photos
			</div>
			<div class="production-photo-list">

				<img class="horizontal-photo-list-item" src="/photos/background.jpg" alt="">

				<img class="horizontal-photo-list-item" src="/photos/background.jpg" alt="">

				<img class="horizontal-photo-list-item" src="/photos/background.jpg" alt="">
				
				<img class="horizontal-photo-list-item" src="/photos/background.jpg" alt="">

				<img class="horizontal-photo-list-item" src="/photos/background.jpg" alt="">
				
				<img class="horizontal-photo-list-item" src="/photos/background.jpg" alt="">
				
				<img class="horizontal-photo-list-item" src="/photos/background.jpg" alt="">

				
				<img class="horizontal-photo-list-item" src="/photos/background.jpg" alt="">

				<img class="horizontal-photo-list-item" src="/photos/background.jpg" alt="">
			</div>
		</div>


	</div>

</div>



{{> footer}}